# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.M8OU.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\15276\source\repos\Cordelia\.idea\.idea.M8OU\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
