@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h3 class="card-label">
                        Welcome
                        <small>M8OU</small>
                    </h3>
                </div>
            </div>
            <div class="card-body">
                This app is built using ASP.Net Core MVC 5.0 by Wang Yang
            </div>
        </div>

    </div>
</div>
