@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12">
        <div class="card card-custom gutter-b">
            <div class="card-header">
                <div class="card-title">
                    <h2 class="card-label">
                        @ViewData["Title"]
                    </h2>
                </div>
            </div>
            <div class="card-body">
                <h4>Ownership of copyright</h4>
                <p>I own the copyright in:</p>
                <ol>
                    <li>this website; and</li>
                    <li>the material on this website (including, without limitation, the text, computer code, images, artworks on this website).</li>

                </ol>
                <h4>Copyright license</h4>
                <p>We grant to you a worldwide non-exclusive royalty-free revocable license to:</p>
                <ol>
                    <li>View this website and the material on this website on a computer via a web browser;</li>
                    <li>Copy and store this website and the material on this website in      your web browser cache memory; and</li>
                    <li>Print pages from this website for your own [personal and non-commercial] use.</li>

                </ol>
                <p>We do not grant you any other rights in relation to this website or the material on this website. In other words, all other rights are reserved.</p>
                <p>For the avoidance of doubt, you must not adapt, edit, change, transform, publish, republish, distribute, redistribute, broadcast, rebroadcast or show or play in public this website or the material on this website (in any form or media) without our prior written permission.</p>
                <h4>Data mining</h4>
                <p>The automated and/or systematic collection of data from this website is prohibited.</p>
                <h4>Permissions</h4>
                <p>You may request permission to use copyright materials on this website by writing to <a href='mailto:1527638985@qq.com' target='_blank' class='url'>1527638985@qq.com</a></p>
                <h4>Enforcement of copyright</h4>
                <p>We take the protection of its copyright very seriously. If We discover</p>
                <p>that you have used our copyright materials in contravention of the license above, we may bring legal proceedings against you seeking monetary damages and an injunction to stop you using those materials. You could also be ordered to pay legal costs.</p>
                <p>If you become aware of any use of our copyright materials that contravenes or may contravene the license above, please report this by email to <a href='mailto:1527638985@qq.com' target='_blank' class='url'>1527638985@qq.com</a></p>
                <h4>Infringing material</h4>
                <p>If you become aware of any material on the website that you believe infringes your or any other person&#39;s copyright, please report this by email to <a href='mailto:1527638985@qq.com' target='_blank' class='url'>1527638985@qq.com</a></p>
                <h4>Author</h4>
                <ul>
                    <li><a href='https://github.com/NorthstarWang'>Wang Yang</a></li>

                </ul>
            </div>
        </div>

    </div>
</div>

